*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Arial', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #369afe;
  text-decoration: none;
}
